---
import Layout from '../layouts/Layout.astro';
import PhotoGrid from '../components/PhotoGrid.astro';
---

<Layout>
  <h1 class="gallery-label">Візуалізації</h1>
  <PhotoGrid collection="visuals" />
</Layout>
