---
import Layout from '../layouts/Layout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = (
  await getCollection('projects', ({ data }) => (import.meta.env.PROD ? !data.draft : true))
).sort((a, b) => a.data.priority - b.data.priority);
---


<Layout
  title="Мої проекти"
  description=""
>
  <header class="blog-head">
    <h1 class="page__title">Мої проекти</h1>
    <p class="blog-head__sub">
      
    </p>
  </header>

  {
    posts.length === 0 ? (
      <p class="empty">Проекти з'являться тут.</p>
    ) : (
      <ul class="post-list">
        {posts.map((post) => (
          <PostCard post={post} base=`${import.meta.env.BASE_URL}`/>
        ))}
      </ul>
    )
  }
</Layout>
